<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.apps.pressuresensorservice">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
<!--
        <receiver android:name=".MyOnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
-->

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.pressuresensorservice.OnPressure" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:name=".PressureSensorIntentService">
            <intent-filter>
                <action
                    android:name = "com.google.android.apps.pressuresensorservice.PressureSensorIntentService">
                </action>
            </intent-filter>
        </service>

    </application>

</manifest>
